<p>Now Playing: {{ cur_track['name'] }} by {{ cur_track['artists'][0]['name'] }}</p>
<ul><li>key: {{ cur_features[0]['key'] }}</li>
    <li>tempo: {{ cur_features[0]['tempo'] }}</li></ul>
<p>Transition Recommendations:</p>
<ul>
    {% for i in range(n_matches) %}
    <li>{{ match_tracks[i]['name'] }} by {{ match_tracks[i]['artists'][0]['name'] }}</li>
    <ul>
        <li>key: {{ match_features[i]['key'] }}</li>
        <li>tempo: {{ match_features[i]['tempo'] }}</li>
    </ul>
    {% endfor %}
</ul>